// 在编译阶段就知道真实颜色值
$background-color: #f4f6f9;
$grey-background-color: #f7f7f7;
$primary-color: #003263;
$primary-color-a10: rgba($primary-color, 0.1);
$primary-color-a20: rgba($primary-color, 0.2);
$primary-color-a50: rgba($primary-color, 0.5);
$secondary-color: #ff6347;

$gold: #ffba00;
$dark-red: #841515;
$white: #fbf6f3;
$grey: #888;

$p-color: #333;
$header-color: #333;
$footer-color: #333;
$h1-color: #333;
$h2-color: #333;
$h3-color: #333;
$h4-color: #333;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$error-color: #f56c6c;

$pad-width: 1200px;
$phone-width: 768px;

$window-font-size: 16px;
$pad-font-size: 12px;
$phone-font-size: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #{$background-color};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --text-color: #{$p-color};

  font-size: $window-font-size;

  // 平板及以上设备
  @media (max-width: $pad-width) {
    font-size: $pad-font-size;
  }

  // 手机设备
  @media (max-width: $phone-width) {
    font-size: $phone-font-size;
  }
}
