// 在编译阶段就知道真实颜色值
$background-color: #ffffff;
$grey-background-color: #f7f7f7;
$primary-color: #1eff5a;
$secondary-color: #ff6347;

$p-color: #333;
$header-color: #333;
$footer-color: #333;
$h1-color: #333;
$h2-color: #333;
$h3-color: #333;
$h4-color: #333;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$error-color: #f56c6c;
